*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 10, 110);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
   width: 25rem;
   height: 35rem;
   padding: 10px;
}

.container h1{
    color: whitesmoke;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.container-input{
    width: 100%;
    height: 3rem;
    position: relative;
    margin: 0.8rem 0;
}

.container-input input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: rgb(34, 3, 62);
    color:gold;
}

.container-input button{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 55%;
    right: 1.2rem;
    transform: translateY(-50%);
}
.container-input button img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.container-input button span{
    display: none;
    background-color: lightblue;
    color: rgb(168, 111, 6);
    position: absolute;
    top: -50%;
    right: 50%;
    transform: translate(50%,-50%);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
}

/* .container-input button:hover span{
    display: inline-block;
} */

.container-setter{
    padding:0.6rem 1.6rem 1rem 1.2rem;
    width: 100%;
    background-color: rgb(34, 3, 62);
    border-radius:0.5rem ;
}

.password-length{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
    font-size:1.5rem;
    font-weight: 600;
    color: white;
}
#password-length-number{
    color: yellow;
}

input[type="range"]{
    width: 100%;
    appearance: none;
    background-color: transparent;
}


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.8rem;
    background: lightblue;
    border: none;
    border-radius: 16px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -3px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    box-shadow: 1px 1px 10px rgb(242, 226, 4);
}
input[type=range]:focus::-webkit-slider-thumb{
    transform: scale(1.2);
    box-shadow: 1px 1px 10px rgb(221, 255, 0);
}



.checkbox-container{
    display:block;
    padding:0.2rem ;
    padding-left:2rem;
    position:relative;
    user-select:none;
    cursor:pointer;
    margin:0.6rem 0;
    color:white;
    font-size: 1rem;
    font-weight:800 ;
}
.checkmark{
    position:absolute;
    top:0.2rem;
    left:0.2rem;
    width:1.2rem;
    height:1.2rem;
    border: 2px solid aqua;
    border-radius: 5px;
}
input[type="checkbox"]{
    display: none;
}
  
.checkbox-container:hover .checkmark{
    background-color:rgb(0, 221, 255)
}
  
.checkmark::after{
    display:none;
    content:" ";
    position:absolute;
    top:1.2px ;
    left:5.5px;
    width:0.3rem;
    height:0.6rem;
    border: solid blue;
    border-width:0 3px 3px 0;
    transform: rotate(45deg);
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container input:checked ~ .checkmark {
    background-color:yellow;
    border:none;
}

.strength{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
    font-size:1.5rem;
    font-weight: 600;
    color: white;
}
.strength div{
    width: 1.2rem;
    height:1.2rem;
    background-color: white;
    border-radius: 50%;
}
.strength div:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.container-setter button{
    position: relative;
    width: 100%;
    height: 3rem;
    padding: 0.6rem 1.2rem;
    margin: 0.6rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 10px yellow;
    color: rgb(125, 46, 46);
    z-index: 99;
}
.container-setter button::before{
    content: "";
    position: absolute;
    background-color: #1f1f1f;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.container-setter button:hover::before {
    transform: scaleX(1);
}
.container-setter button:hover {
    color: #fff;
 }